$secondary: #A50021;

@import "../bootstrap/scss/bootstrap";

main {
  #main-container {
    padding-top: 60px;
  }
}

.ficts-label {
  background-color: #ffb402 !important;
}

.ficus-label {
  background-color: #A50021 !important;
}

.uuuuu-label {
  background-color: #006fff !important;
}

