$secondary: #A50021;

@import "../bootstrap-5.3.0/scss/bootstrap";

main {
  #main-container {
    padding-top: 60px;
  }
}

.ficts-label {
  background-color: #ffb402 !important;
  width: 5.5em;
}

.ficus-label {
  background-color: #A50021 !important;
  width: 5.5em;
}

.uuuuu-label {
  background-color: #006fff !important;
  width: 5.5em;
}

.inchi-label {
  background-color: #027706 !important;
  width: 5.5em;
}


