backports.zoneinfo
psycopg2-binary
requests
django>=4.0
django-extensions
djangorestframework
django-filter
django-crispy-forms
djangorestframework-jsonapi>=5.0.0
djangorestframework-jsonapi[django-filter]
djangorestframework-jsonapi[django-polymorphic]
djangorestframework-jsonapi[openapi]
django-multiselectfield
django-htmlmin
django-celery-results
celery[librabbitmq]
parameterized~=0.8.1
#django-dbbackup>=3

