ujson==5.8.0
backports.zoneinfo
psycopg2-binary==2.9.6
requests>=2.31
django>=4.2
django-extensions>=3.1
djangorestframework>=3.14
django-filter==23.2
django-crispy-forms>=2.0
djangorestframework-jsonapi>=6.1.0
djangorestframework-jsonapi[django-filter]
djangorestframework-jsonapi[django-polymorphic]
djangorestframework-jsonapi[openapi]
django-cors-headers
django-multiselectfield>=0.1
django-htmlmin>=0.11
django-celery-results>=2.5
django-debug-toolbar>=4.1
django-bootstrap5>=23.3
django-bootstrap-input-group>=1.0
django-dbbackup>=4.0
django-compressor>=4.4
django-libsass>=0.9
celery
parameterized==0.8.1
redis>=4.6
hiredis>=2.2

