
<div>
<div class="viewer-status"><img src="/image/load.gif"></img><span></span></div>
<h3>NCI/CADD Structure Identifier</h3>
<div class="section">
	
	<!--
	<div class="subsection normalize-box">
		<div class="left-column">
			<button id="normalize-lookup-button">Normalize &amp; Lookup</button>
		</div>
		<div class="right-column">
			One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman.
		</div>
	</div>	
	-->

	<div class="table-border">
	<table id="ncicadd-identifier-table">
	<thead>
	<tr>
		<th class="record-column">File</br>record</th>
		<th class="hashcode-column">FICTS identifier</th>
		<th class="integer-column">Databases</br>linked by</br>FICTS</th>
		<th class="hashcode-column">FICuS identifier</th>
		<th class="integer-column">Databases</br>linked by</br>FICuS</th>
		<th class="hashcode-column">uuuuu identifier</th>
		<th class="integer-column">Databases</br>linked by</br>uuuuu</th>
		<th class="integer-column">Number of</br>databases</th>
	</tr>
	</thead>
	<tbody>
	{% for key,record in file.records.items %}
	<tr>
		<td>{{ key }}</td>
		<td class="hashcode-column {{ record.ncicadd_identifier.ficts.hashcode }}">{{ record.ncicadd_identifier.ficts.string }}</td>
		<td>{{ record.ficts_database_count }}</td>
		<td class="hashcode-column {{ record.ncicadd_identifier.ficus.hashcode }}">{{ record.ncicadd_identifier.ficus.string }}</td>
		<td>{{ record.ficus_database_count }}</td>
		<td class="hashcode-column {{ record.ncicadd_identifier.uuuuu.hashcode }}">{{ record.ncicadd_identifier.uuuuu.string }}</td>
		<td>{{ record.uuuuu_database_count }}</td>
		<td>{{ record.database_count }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>

</div>
<div class="spacer"></div>

<h3>Standard InChI/InChIKey</h3>
<div class="section">

	<div class="table-border"> 
		<table id="inchi-table">
		<thead>
		<tr>
			<th class="record-column">File</br>record</th>
			<th class="inchikey-column">Standard InChIKey</th>
			<th class="inchi-column">Standard InChI</th>
		</tr>
		</thead>
		<tbody>
		{% for key,record in file.records.items %}
		<tr>
			<td class="record-column">{{ key }}</td>
			<td class="inchikey-column {{ record.inchi.key.well_formatted_no_prefix }}">{{ record.inchi.key.well_formatted_no_prefix }}</td>
			<td class="inchi-column">{{ record.inchi.string.well_formatted }}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>

</div>

</div>

