
<div class="file-widget">

<form id="upload-file-form" action="" enctype="multipart/form-data" method="POST">
	
<!-- Tabs -->
<ul class="tabs">
	<li><a href="#">Create</a></li>
	<li><a href="#">Upload</a></li>
	<li><a href="#">Browse</a></li>
	<li><a href="#">Download</a></li>
</ul>
<!-- Tabs -->

<!-- Panes -->
<div class="panes">

	<!-- Create -->
	<div>
		<h2>Create a File</h2>
		<div class="section">
			<p>Create a file by pasteing a list of chemical names, SMILES, database IDs, structure identifiers (Std. InChI/InChIKey, NCICADD Structure Identifier)</p>
			<div class="subsection">
				{{ chemical_file_form.string }}
			</div>
			<button id="create-file-clear-button">Clear</button>
		</div>
	</div> 
	<!-- Create -->


	<!-- Upload -->
	<div>
		<h2>Upload File</h2>
		<div class="section">
			<p>Upload a molecular structure file (SDF, Molfile, SMILES, ChemDraw, Marvin Sketch, PDB, etc.)</p>
			<div class="subsection">
				<span id="file_input_span">{{ chemical_file_form.file }}</span>
			</div>
			<button id="upload-file-clear-button">Clear</button>
		</div>
	</div>
	<!-- Upload -->

	<div>
		<h2>Download a File</h2>
	</div>

	<div>
		<h2>Browse Files</h2>
	</div>
			
</div>
<!-- Panes -->
	

<!--
<div id="progressbar"></div><div><span>Upload Progress: </span><strong id="percentage">0%</strong></div>
<div id="file-processing">
	<div class="sub-header">Processing file ... <span class="process-image"><img src="/image/load.gif" /></span></div>
</div>
<div id="status-pane"></div>

</form>

</div>



	
<ul id="file-list" id="selectable">
{% for file in file_list reversed %}
<li>
	<div style="height:130px">
	<!--<a href="{{ file_base_url }}/{{ file.key.upload }}">{{ file.name }}</a>-->
		<div class="text-box">
		<h3>{{ file.name }}</h3>
			<p>Created: <span>{{ file.date_added }}</span></p>
			<p>Records: <span>{{ file }}</span></p>
		</div>
		<div class="button-box">
			<a href="{{ file_base_url }}/{{ file.key.upload }}">View</a>
		</div>
		<div class="image-box">
		{% with file.structures.all as structures %}
		{% for structure in structures|slice:":3" %}
			<img src="data:image/gif;base64,{{ structure.image.small }}" width="120" height="120" />
		{% empty %}
		{% endfor %}
		{% endwith %}
		</div>
	</div>
</li>
{% endfor %}
</ul>
-->
