<!-- TERM -->



<!-- LIST -->



<!-- EDITOR -->




<script>

var resize_structure_editor = function () {
	var h = $(window).height()-220;
	var w = $(window).width()-80;
	var min_h = Math.max(h,400);
	var min_w = Math.max(w,600);
	$('.chemwriter .editor').css({'width': min_w, 'height': min_h});	
	$('.chemwriter .editor .canvas').css({'width': min_w-100, 'height': min_h-40});
	$('.chemwriter .editor .canvas svg').css({'width': min_w-100, 'height': min_h-40});
}

var resize_structure_textarea = function () {
	var h = $(window).height();
	$('#id_structure_input').css({'height': h-220});
}

var resize_id_term_input = function() {
	var h = $(window).height()-220;
	$('#id_term_input-box').css({'padding-top': (h/10), 'padding-bottom': h-(h/10)-30});
}

$('#draw').live('pageshow', function(){
	/*var h = $(window).height();*/
	/*$('#editor-box').css({'height': h-220 + 'px !important');*/
	if ($('#editor-box').children().length==0) {		
		editor_object = chemwriter.loadEditor('editor-box', {'hoverRadius': 0.4});
		resize_structure_editor();
	}	
});


$('#list').live('pagebeforeshow', function(){
	resize_structure_textarea();
});

$('#term').live('pagebeforeshow', function(){
	resize_id_term_input();
});
/*


$('#term').live('swipeleft', function(){
	$.mobile.changePage('#list', {transition: 'slide'});
});

$('#term').live('swiperight', function(){
	$.mobile.changePage('#main', {transition: 'slide', 'reverse': true});
});

$('#list').live('swipeleft', function(){
	$.mobile.changePage('#draw', {transition: 'slide'});
});

$('#list').live('swiperight', function(){
	$.mobile.changePage('#term', {transition: 'slide', 'reverse': true});
});

$('#draw').live('swiperight', function(){
	$.mobile.changePage('#list', {transition: 'slide', 'reverse': true});
});
*/

$(document).bind('orientationchange', function(){
	resize_structure_editor();
	resize_structure_textarea();
	resize_id_term_input();
});



/* editor stuff */

function MediaFromChemicalStringArray(string_array, media_config_array, callback) {
	var thisObject = this;
	this.string_array = string_array
	this.media_config_array = media_config_array
	this.build_query = function build_query() {
		var s = "";
		for (index in this.string_array) {
			s += "&string=" + escape(string_array[index]);
		}
		for (index in this.media_config_array) {
			s += "&config=" + escape(media_config_array[index]);
		}
		return s.substring(1)
	}
	$.when(
		$.getJSON('{{ media_base_url }}?' + this.build_query())
	).then(
		function(ajax_result, ajax_status, xhr) {
			thisObject.media = ajax_result;
			if (callback) {callback(thisObject.media)};
		}
	);
}

function ChemWriterMolfileResolver(string, callback) {
	var thisObject = this;
	this.string = string.replace(/\n/g, '\\n') + '$$$$\\n';
	$.when(
		$.ajax({url: '{{ structure_base_url }}/' + encodeURI(this.string) + '/smiles?resolver=SDFile&operator=add_hydrogens',})
	).then(
		function(ajax_result, ajax_status, xhr) {
			thisObject.smiles = ajax_result;
			if (callback) {callback(thisObject.smiles)};
		}
	);
}

</script>