{% extends "neon-base.html" %}

{% block body_class %}d-flex flex-column h-100{% endblock %}

{% block content %}
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
            <div class="container-fluid pe-5 ps-5">
                <a class="navbar-brand" href="#">CIR Neon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <!--<li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>-->
                    </ul>
                    {% comment %}
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                    {% endcomment %}
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container-fluid p-5" id="main-container">
            <div class="align-items-center mt-5">
                <h1>CID {{ compound.id }}</h1>
                <div class="mb-2">
                    <div class="btn-group" role="group">
                        {% if compound.get_previous_by_added.id %}
                            <a href="{% url 'compounds' compound.get_previous_by_added.id %}"
                               class="btn btn-sm btn-light" type="button">
                                <i class="bi bi-caret-left-fill"></i> Previous
                            </a>
                        {% else %}http://localhost:8000/neon/compounds/1463
                            <a href="" class="btn btn-sm btn-light" type="button">
                                <i class="bi bi-caret-left-fill"></i> Previous
                            </a>
                        {% endif %}
                        {% if compound.get_next_by_added.id %}
                            <a href="{% url 'compounds' compound.get_next_by_added.id %}"
                               class="btn btn-sm btn-light" type="button">
                                Next <i class="bi bi-caret-right-fill"></i>
                            </a>
                        {% else %}
                            <a href="" class="btn btn-sm btn-light" type="button">
                                Next <i class="bi bi-caret-right-fill"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr class="bg-secondary mb-4">
            <!--<p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and
                CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code
                        class="small">main &gt; .container</code>.</p>
            <p>Back to <a href="/docs/5.0/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
            <div class="container text-center">-->
            <div class="row align-items-start">
                <div class="col col-xxl-3 col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        {% if compound.id %}
                            <figure class="figure">
                                <img src="{% url 'images-cid' compound.id %}"
                                     class="figure-img img-fluid img-thumbnail rounded"
                                     style="min-width: 260px; min-height: 260px;" alt="structure of CID {{ compound.id }}">
                                <figcaption class="figure-caption">Structure of CID {{ compound.id }}</figcaption>
                            </figure>
                        {% endif %}
                    </div>

                </div>
                <div class="col col-xxl-9 col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 pt-2">
                    <section>
                        <h2 class="mb-4">Structure Data</h2>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">SMILES</th>
                                <td class="col-10"><small class="text-break">{{ compound.structure.smiles }}</small>
                                </td>
                            </tr>
                            {% comment %}
                            <tr>
                                <th scope="row">Std. InChIKey</th>
                                <td class="col-10"><small class="text-break">{{ compound.annotated_inchikey }}</small>
                                </td>
                            </tr>
                            {% endcomment %}
                            <tr>
                                <th scope="row">Std. InChI</th>
                                <td class="col-10"><small class="text-break">{{ inchis.standard.inchi.string }}</small>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-1">Formula</th>
                                <td class="col-1"><small>{{ formula }}</small></td>
                            </tr>
                            <tr>
                                <th class="col-1">Weight</th>
                                <td class="col-1"><small>{{ weight }}</small></td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2 class="mt-4 mb-4">Structure Identifier</h2>
                        <div class="card"><div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">NCI/CADD Identifier</th>
                                <th scope="col" class="text-center">Is Parent</th>
                                <th scope="col" class="text-center">Parent Structure (CID)</th>
                                <th scope="col" class="text-center d-none d-md-block">Child Count</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for k, v in parents.items %}
                            <tr>
                                <td class="col-4">
                                    <div class="d-flex"><span class="badge bg-secondary {{ k|lower }}-label me-2">{{ k }}</span><small class="d-lg-none d-xl-block">{{ v.identifier|default_if_none:"N/A" }}</small></div>
                                </td>
                                <td class="col-1 text-center">
                                    {{ v.is_parent|yesno }}
                                </td>
                                <td class="col-3 text-center">
                                    {% url 'compounds' v.structure.compound.id as compound_url %}
                                    <a class="link-primary" href="{{ compound_url }}">{{ v.structure.compound.id|default_if_none:"N/A" }}</a>
                                </td>
                                <td class="col-3 text-center">
                                    {{ v.children_count|default_if_none:"N/A" }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">InChIKey</th>
                                <th scope="col" class="text-center">Version</th>
                                <th scope="col" class="text-center">SaveOpt</th>
                                <th scope="col" class="text-center">Software Version</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in inchis.items %}
                            <tr>
                                <td class="col-4"><div class="d-flex"><span class="badge bg-secondary inchi-label me-2">{{ v.inchitype.id }}</span><small>{{ v.inchi.key }}</small></div></td>
                                <td class="col-1 text-center"><small>{{ v.inchi.version }}</small></td>
                                <td class="col-3 text-center"><small>{{ v.save_opt }}</small></td>
                                <td class="col-3 text-center"><small>{{ v.software_version }}</small></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div></div>
                    </section>
                    <section>

                    </section>
                    <section>
                        <h2 class="mb-4 mt-4">Names</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Affinity</th>
                                <th scope="col" class="d-none d-md-block">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in names %}
                                <tr>
                                    <td class="col-7">{{ item.name.name }}</td>
                                    <td class="col-2"><small class="text-break">{{ item.affinity_class }}</small>
                                    <td class="d-none d-md-block"><small class="text-break">{{ item.name_type.public_string }}</small>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>

                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container-fluid pe-5 ps-5">
            <span class="text-white">&#169 NCI/CADD, Xemisty GmbH and Markus Sitzmann 2023</span>
        </div>
    </footer>
{% endblock %}