{% load static %}
{% load compress %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CIR Neon</title>
    <meta name="description" content="HTML5 Template">
    <meta name="author" content="Markus Sitzmann">

    <meta property="og:title" content="CIR Neon">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ host }}">
    <meta property="og:description" content="HTML5 Template for CIR Neon">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
        <link type="text/x-scss" href="{% static 'neon/assets/neon/neon.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'neon/assets/bootstrap-icons/bootstrap-icons.css' %}">

    {% block style %}{% endblock style %}

</head>

<body class="{% block body_class %}{% endblock %}">
{% block content %}
    {% block header %}
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
                <div class="container-fluid pe-5 ps-5">
                    <a class="navbar-brand" href="#">Chemical Identifier Resolver NEON</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <!--<li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>-->
                        </ul>
                        {% comment %}
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                    {% endcomment %}
                    </div>
                </div>
            </nav>
        </header>
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% block footer %}
        <footer class="footer mt-auto py-3 bg-dark">
        <div class="container-fluid pe-5 ps-5">
            <span class="text-white">&#169 NCI/CADD, Xemisty GmbH and Markus Sitzmann 2022-{% now "Y" %}</span>
        </div>
        </footer>
    {% endblock footer %}

{% endblock content %}
{% bootstrap_javascript %}
{% block javascript %}{% endblock javascript %}

{% comment %}
    <script src="{% static 'neon/assets/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'neon/assets/jquery/jquery-3.6.4.min.js' %}"></script>
    {% endcomment %}
</body>
</html>