{% extends "neon-base.html" %}
{# Load the tag library #}
{% load static %}
{% load django_bootstrap5 %}

{% block body_class %}d-flex flex-column h-100{% endblock %}

{% block main %}
    <div class="container-fluid p-5" id="main-container">
        <div class="align-items-center mt-5">


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="jsme-box"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <form action="/url/to/submit/" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% bootstrap_button button_type="submit" content="OK" button_class="btn-primary" %}
        </form>


        </div>
    </div>
{% endblock main %}

{% block javascript %}
    <script src="{% static 'neon/assets/jsme/jsme.nocache.js' %}"></script>
    <script>
        function jsmeOnLoad() {
            jsme = new JSApplet.JSME("jsme-box", "100%", "100%", {
                //optional parameters
                "options": "fullScreenIcon",
            });
        }

        var editorModalEl = document.getElementById('exampleModal');
        editorModalEl.addEventListener('shown.bs.modal', function (event) {
            console.log("event fired");
            document.getElementById("jsme-box").style.display="inline";jsme.repaint();
        });
        console.log("done");

    </script>
{% endblock javascript %}