{% extends "base-service-m.html" %}

{% block body_class %}{% endblock %}

{% block title %}NCI/CADD Chemical Structure Apps{% endblock %}

{% block header %}Chemical Structure Apps{% endblock %}

{% block pages %}
<div data-role="page" id="jsme-editor" data-dom-cache="true">
	
	<div data-role="header" data-id="home-header" data-position="fixed">
		<a href="/" data-icon="delete" data-ajax="false" data-iconpos="notext" data-rel="back"></a>		
		<!--<a data-icon="gear" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>-->
		<h1>Draw Structure</h1>
	</div>

	<div data-role="panel" id="jsme-panel" data-display="overlay" data-position="left" data-theme="c">
		<h3>NCI/CADD Apps</h3>
		<ul data-role="listview" data-theme="c" data-dividertheme="d">
			<li data-icon="grid"><a data-transition="slide" data-direction="reverse" href="{% url "chemical.apps.views.home" %}">Switch App</a></li>
			<li data-icon="home"><a data-transition="slide" data-direction="reverse" href="">Home</a></li>
			<li data-icon="plus"><a href="{% url "chemical.apps.views.qterm" %}">Add Structures</a></li>
		</ul>
    </div>

	<div data-role="content" data-theme="c">

		<div class="navigation">

			<div class="navigation-left-button-group">
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<a data-role="button" data-theme="c" data-icon="arrow-l" data-mini="true" data-inline="true" class="narrow-button" id="jsme-add-button">Add</a>
					<a data-role="button" data-theme="c" data-icon="delete" data-mini="true" data-inline="true" data-iconpos="right" class="narrow-button" id="jsme-close-button">Close</a>
				</div>
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<a data-role="button" data-theme="c" data-icon="bars" data-mini="true" data-inline="true" href="#jsme-panel">Menu</a>
				</div>
			</div>

			<div class="navigation-right-button-group">
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<select data-theme="c" data-icon="arrow-d" data-native-menu="false" name="{{ app_name }}-editor-page-selector-jsme" id="{{ app_name }}-editor-page-selector-jsme">
						<option value="chemwriter">ChemWriter</option>
						<option value="jsme">JSME</option>
					</select>
				</div>
			</div>

		</div>

		<div data-role="popup" id="editor-failure-popup" data-theme="h">
			<div class="ui-content">
			<p>Sorry, structure lookup failed</p>
			</div>
		</div>
		
		<div class="editor-box" id="jsme-box"></div>

		<!--<div class="button-bar">
			<input type="submit" value="Submit" id="editor-submit-button" data-role="button" data-inline="true" />
			<a data-role="button" id="editor-add-button" data-inline="true">Add</a>
			<a data-role="button" id="editor-structure-button" data-inline="true" href="#structure-selection">Structures</a>
		</div>-->

	</div>

	<script>
		function JSMEBindings() {
			this_object = this;
			this.structure = ''
			this.init_editor = function () {
				$('#jsme-box').empty();				
				this.jsme = new JSApplet.JSME("jsme-box", {
    				"options" : "hydrogens",
					"jme": this.structure
    			});
			}
			this.resize = function() {
				this.structure = this.jsme.jmeFile();
				$('#jsme-box').empty();
			}
			this.resize_end = function() {
				var h = $(window).height()-130;
				var w = $(window).width()-30;
				var min_h = Math.max(h,400);
				var min_w = Math.max(w,600);
				$('#jsme-box').css({'width': min_w, 'height': min_h, 'background-color': '#eee'});
				this.init_editor();
			}	
		}
		jsme_bindings = new JSMEBindings();
		
		$('#jsme-editor').on('pageinit', function() {
			$('#{{ app_name }}-editor-page-selector-jsme').on('change', function(event, ui) {
				var editor_name = $('#{{ app_name }}-editor-page-selector-jsme').val();
 				$.mobile.changePage('{% url "chemical.apps.views.editor" %}/' + editor_name, {transition: 'fade'});
				$('#{{ app_name }}-editor-page-selector-jsme').val(editor_name).selectmenu('refresh');
			});
			$('#jsme-editor').on('pagebeforeshow', function() {
				$('#{{ app_name }}-editor-page-selector-jsme').val("jsme").selectmenu('refresh');
				editor_page_bindings.current_editor='jsme';
			});
			$('#jsme-editor').on('pageshow', function() {
				jsme_bindings.resize_end();	
			});
			$('#jsme-add-button').on('click', function() {
				editor_page_bindings.add_smiles()
			});

		});
		
		$(document).on('orientationchange', function(){
		});
		$(window).resize(function() {
			jsme_bindings.resize();
    		if(this.resizeTO) clearTimeout(this.resizeTO);
    			this.resizeTO = setTimeout(function() {
        		$(this).trigger('resizeEnd');
    		}, 500);
		});
		$(window).on('resizeEnd', function() {
			jsme_bindings.resize_end();
		});
	</script>

</div>
{% endblock %}
