{% extends "base-service.html" %}

{% block title %}NCI/CADD Chemical File Resolver{% endblock %}

{% block header %}Chemical File Resolver alpha{% endblock %}

{% block link %}
<link rel="stylesheet" href="/style/chemwriter.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/style/cactus-2.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/style/viewer.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/style/datatable.css" type="text/css" media="screen,projection" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="icon" href="/image/favicon.ico"  type="image/x-icon"/>
{% endblock %}


{% block ribbon %}
<div id="button-bar">
	<div id="button-bar-left">
		<ul>
			<li><button id="home-button">Home</button></li>
			<li><button id="file-button">File</button></li>
		</ul>
	</div>
</div>
{% endblock %}


{% block content %}

{% include "file.template" %}

<script type="text/javascript">
$(document).ready(function(){
	
	$('#home-button').button({text: false, icons: {primary: "ui-icon-home"}})
	$('#file-button').button({text: true})
	{% include "file.js" %}
	
});
</script>

{% endblock %}





