{% extends "base-service-m.html" %}
{% load beautify %}

{% block body_class %}{% endblock %}

{% block title %}Browse Data{% endblock %}

{% block header %}Browse Data{% endblock %}

{% block pages %}

{% if subpage == 'details' %}
<div data-role="page" data-theme="f" id="{{ app_name }}-details-page-{{ page  }}" class="details {{ app_name }}">

	{% include 'common/header.template' %}

	<div class="primary-panel" data-role="panel" id="detail-panel" data-display="overlay" data-position="left" data-position-fixed="true" data-theme="g">
		<h3>NCI/CADD Apps</h3>
		<ul data-role="listview" data-theme="g">
			<li><a href="{% url "chemical.apps.views.cap_manual" 'config' %}"><h4>Settings</h4></a></li>
			<li><a href="{% url "chemical.apps.views.browse" 1 %}"><h4>Browse Structures</h4></a></li>
			<li data-icon="plus"><a href="{% url "chemical.apps.views.edit_structures" 'add' 'structure' %}"><h4>Add/Edit Structures</h4></a></li>
			<li><a data-transition="slide" data-direction="reverse" href="{% url "chemical.apps.views.home" %}"><h4>Switch App</h4></a></li>
		</ul>
		{% if app_name == 'cap' %}
		<h3>Chemical Activity Predictor</h3>
		<ul data-role="listview" data-theme="g">
			<li><a href="{% url "chemical.apps.views.cap_manual" 'categories' %}"><h4>Categories</h4></a></li>
			<li><a href="{% url "chemical.apps.views.cap_manual" 'models' %}"><h4>Models</h4></a></li>
			<li><a href="{% url "chemical.apps.views.cap_manual" 'endpoints' %}"><h4>Endpoints</h4></a></li>
			
		</ul>
		{% endif %}
    </div>

	<div data-role="panel" id="{{ app_name }}-details-panel-page-{{ page  }}" data-theme="g" data-position="left" data-position-fixed="true">
		<h3>Search Terms</h3>
		<ul id="details-panel-page-term-list-{{ page }}" data-role="listview" data-theme="g">
    		{% for qq,ii in response.response_query_item_keys.items %}
			{% if qq != item.group.query %}
			<li><a href="{% url "chemical.apps.views.details" 'details' ii.0 %}"><h4>{{ qq|beautify:'operator_string'|capfirst }}</h4></a></li>
			{% else %}
			<li data-theme="o"><h4>{{ qq|beautify:'operator_string'|capfirst }}</h4></li>
			{% endif %}
			{% endfor %}
		</ul>
		{% if response.response_query_item_notations.items|length > 1 %}
		<h3>Related Structures</h3>
		<ul id="details-panel-page-structure-list-{{ page }}" data-role="listview" data-theme="g">
		{% for k,v in response.response_query_item_notations.items %}
		{% if k != item.random_key %}
		<li>
			<a href="{% url "chemical.apps.views.details" 'details' k %}">
				<h4>{{ item.group.query|beautify:'strip_operator_string' }}</h4>
				<p>{{ v|beautify:"chemical_string_type_short_cap"|capfirst }}</p>
			</a>
		</li>
		{% else %}
		<li data-theme="o">
			<h4>{{ item.group.query|beautify:'strip_operator_string' }}</h4>
			<p>{{ v|beautify:"chemical_string_type_short_cap"|capfirst }}</p>
		</li>
		{% endif %}
		{% endfor %}
		</ul>
		{% endif %}
	</div>

	<div data-role="content" data-theme="f">

		<div class="jsmol-widget" id="jsmol_{{ item.random_key }}" smiles="{{ item.resolver_data.structure_smiles }}"></div>
		<a class="jsmol-zoom" data-role="button" data-icon="search" data-mini="true" data-iconpos="notext" id="jsmol_zoom_{{ page }}" href="{% url "chemical.apps.views.details" 'jsmol' item.random_key %}">JSmol</a>

		<div class="detail-content">
			<div class="h1-border">
				<h1>Prediction Results</h1>
				<p>for "{{ item.group.query|beautify:'strip_operator_string' }}" interpreted as {{ item.resolver_data.chemical_string_type|beautify:'chemical_string_type' }}</p>
			</div>

   			<div class="structures">
				<div class="doodle-widget" id="doodle-{{ item.random_key }}" molfile="{{ item.media.sdf_hspecial }}">
				<canvas height="160px" width="160px" id="canvas-doodle-{{ item.random_key }}"></canvas>	
				{% comment %}<p>{{ item.resolver_data.structure_smiles|beautify:"smiles"|safe }}</p>{% endcomment %}
				</div>
			</div>

			<div class="data">
			<table data-role="table" data-mode="columntoggle" class="ui-responsive table-stroke" id="{{ app_name }}-{{ page }}-table">
			<thead>
				<tr>
					<th data-priority="1">Name</th>
					<th data-priority="persist">Value</th>
					<th data-priority="2">Unit</th>
					<th data-priority="3">In Applicability Domain</th>
					<th data-priority="4">Data Type</th>
				</tr>
			</thead>
			
			{% for model, endpoints in item.activity_by_model.items %}
			{% if model.id in response.model_switch_list %}
			<thead class="thead-header-gray">
				<tr>
					<th data-priority="1">{{ model.name }}</th>
					<th data-priority="persist"></th>
					<th data-priority="2"></th>
					<th data-priority="3"></th>
					<th data-priority="4"></th>
				</tr>
			</thead>
		
			<tbody>
			{% for e in endpoints|dictsort:"name" %}
			<tr>
				<td><a href="{% url "chemical.apps.views.cap_manual" 'endpoint' e.sign %}">{{ e.name|title }}</a></td>
				{% if e.type == 'binary' %}
				<td><div class="active-tag active-tag-{{ e.string|beautify:"boolean" }}">{{ e.string }}</div></td>
				{% else %}
				<td><div>{{ e.float }}</div></td>
				{% endif %}
				<td>{{ e.unit }}</td>
				<td><div class="boolean-tag boolean-tag-{{ e.in_AD|beautify:"boolean" }}">{{ e.in_AD|beautify:"boolean" }}</div></td>
				<td>{{ e.type }}</td>
			</tr>
			{% endfor %}
			</tbody>
			{% endif %}
			{% endfor %}
			</table>
			</div>
			</div> <!--details-->

	</div><!--content-->

	<div class="page-footer" data-role="footer"  data-theme="m" data-position="fixed" data-id="{{ app_name }}-footer" data-tap-toggle="false">
		
		<div class="ui-bar footer-navigation navigation">
			<div>
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<a class="footer-nav-button" data-role="button" data-theme="f" data-icon="arrow-l" data-mini="true" data-inline="true" href="{% url "chemical.apps.views.browse" 1 %}">Browse</a>
				</div>
			</div>

			<div>
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<a class="footer-nav-button" data-role="button" data-theme="f" data-icon="bars" data-mini="true" data-inline="true" href="#{{ app_name }}-details-panel-page-{{ page  }}">{{ item.group.query|beautify:"strip_operator_string"|capfirst }}</a>
				</div>
			</div>

			<!--<label for="flip-5" class="ui-hidden-accessible">Flip toggle switch:</label>-->
    		{% comment %}
			<div class="from-right">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" data-theme="f">
        		<input data-theme="f" type="checkbox" name="checkbox-h-2a" id="checkbox-h-2a">
        		<label for="checkbox-h-2a">Show 3D Structure</label>
    		</fieldset>
			</div>
			{% endcomment %}
			<div class="info-bar">
				<div><span><a rel="external" href="/">/</a></span><span>NCI/CADD Group 2013</span></div>
			</div>
		</div>
	</div>

	<script>
		var detail_page_bindings = function DetailsPage() {
			var _this = this;
			this.show_structures = function() {
				$('#{{ app_name }}-details-page-{{ page  }} .doodle-widget').each(function(index, object) {
					molfile = $(object).attr('molfile');
					id = $(object).attr('id');
					$(object).append("<script>\
						doodle_acs = new ChemDoodle.ViewerCanvas('canvas-" + id + "', 160, 160);\
						doodle_acs.specs.backgroundColor = undefined;\
						doodle_acs_structure = ChemDoodle.readMOL('"+molfile+"', 1);\
						doodle_acs_structure.scaleToAverageBondLength(20);\
						doodle_acs.loadMolecule(doodle_acs_structure);\
					<\/script>");
				})
			}
			this.resize_3d_structure = function() {
				$(window).resize(function() {})
			}
			this.show_3d_structures = function() {
				$('.jsmol-widget').hide();
				{% comment %}
				try {
					Jmol.setDocument(false);
					jj = Jmol.getApplet("jsmol_{{ item.random_key }}", {
 						width: $(window).width(),
       					height: 345,
        				debug: false,
        				color: "0xFFFFFF",
        				addSelectionOptions: false,
        				use: "HTML5",
        				j2sPath: "/js/jsmol/j2s",
        				disableJ2SLoadMonitor: true,
  						disableInitialConsole: true,
  						allowJavaScript: true,
						antialiasDisplay: true,
						readyFunction: function() {
							$('.jsmol-widget').fadeIn(1000);
						},
					});
				$("#jsmol_{{ item.random_key }}").html(Jmol.getAppletHtml(jsmol_{{ item.random_key }}));
				Jmol.loadFile(jj, '${{ item.resolver_data.structure_smiles }}');
				Jmol.script(jj, 'set antialiasDisplay true; zoom 30; translate x 30; set disablePopupMenu on;');
				} catch(error) {};
				{% endcomment %}
			}
			this.init_buttons_and_widgets = function() {
				$('.edit-structure-link').on('click', function() {
					details_page_bindings.click_edit_structure();
				});
				
				$('#{{ app_name }}-details-query-selector-{{ page }}').on('change', function() {
					var new_item_key = $(this).val();
					//item_key = new_item_key;
 					$.mobile.changePage('{{ apps_base_url }}/details/' + new_item_key, {transition: 'fade'});
				});
				$('#{{ app_name }}-details-query-subselector-{{ page }}').on('change', function() {
					var new_item_key = $(this).val();
					//item_key = new_item_key;
 					$.mobile.changePage('{{ apps_base_url }}/details/' + new_item_key, {transition: 'fade'});
				});
				$('.home-button').on('click', function() {
					$.mobile.changePage('{{ apps_base_url }}/' + session.get('app')['current'], {
						transition: 'pop',
						reload: true
					});
				});
			}
			$(document).on("pageinit", '#{{ app_name }}-details-page-{{ page }}', function (){ 
				panel.init();
				history_button.init();
				_this.show_3d_structures();
			});
			$(document).on("pageshow", '#{{ app_name }}-details-page-{{ page }}', function() {
				_this.show_structures();
				
			});
			$(document).on("pagebeforeshow", '#{{ app_name }}-details-page-{{ page }}', function() {
				_this.show_structures();
				//$('.jsmol-widget').hide();
				
				app.sort_list('#details-panel-page-structure-list-{{ page }}', app.sort_functions.special_asc_sort)
				app.sort_list('#details-panel-page-term-list-{{ page }}', app.sort_functions.special_asc_sort)
			});
			$(window).resize(function() {
					$('.jsmol-widget').hide();
					if(this.resize_to) clearTimeout(this.resize_to);
    				this.resize_to = setTimeout(function() {
        				$(this).trigger('resize_end');
    				}, 500);
			});

			$(window).on('resize_end', function() {
				_this.show_3d_structures();
			});
		}
		app.bind_page('{{ app_name }}-details-page-{{ page  }}', detail_page_bindings);
	</script>
</div>
{% endif %}

{% if subpage == 'jsmol' %}
<div data-role="page" data-theme="o" id="{{ app_name }}-jsmol-structure-{{ item.random_key }}" class="jsmol-structure {{ app_name }}">

	<div data-role="header" data-theme="g" data-position="fixed" data-id="{{ app_name }}-header">
		<a class="close-button" id="jsmol-close-button" data-role="button" data-theme="g" data-icon="delete" data-iconpos="notext" data-iconshadow="false" data-shadow="false" data-mini="true" data-inline="true" data-rel="back">Close 3D Structure</a>
		<h1 class="app-string"></h1>
		<div class="from-right history" data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
			<a class="history-back" data-role="button" data-theme="g" data-icon="arrow-l" data-iconpos="notext" data-mini="true"></a>
			<a class="history-refresh" data-role="button" data-theme="g" data-icon="refresh" data-iconpos="notext" data-mini="true"></a>
			<a class="history-forward" data-role="button" data-theme="g" data-icon="arrow-r" data-iconpos="notext" data-mini="true"></a>
		</div>
	</div>

	<div data-role="content" data-theme="o">

		<div class="h1-border">
			<h1>{{ item.group.query|beautify:'strip_operator_string' }}</h1>
			<p>{{ item.resolver_data.chemical_string_notation|beautify:"chemical_string_type_short_cap"|capfirst }}</p>
		</div>
		<div class="full-jsmol-widget" id="full_jsmol_{{ item.random_key }}" smiles="{{ item.resolver_data.structure_smiles }}"></div>
	</div>

	<div class="page-footer" id="jsmol-page-footer" data-role="footer"  data-theme="o" data-position="fixed" data-id="{{ app_name }}-footer" data-tap-toggle="false">
		<div class="ui-bar footer-navigation navigation">
			{% comment %}
			<div>
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<a class="footer-nav-button" data-role="button" data-theme="o" data-icon="delete" data-mini="true" data-inline="true"  data-rel="back">Close</a>
				</div>
			</div>
			<div>
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true">
					<a class="footer-nav-button" data-role="button" data-theme="o" data-icon="bars" data-mini="true" data-inline="true" href="#{{ app_name }}-details-panel-page-{{ page  }}">{{ item.group.query|beautify:"chemical_string_type"|capfirst }}</a>
				</div>
			</div>
			{% endcomment %}
			<div class="info-bar">
				<div><span><a rel="external" href="/">/</a></span><span>NCI/CADD Group 2013</span></div>
			</div>
		</div>
	</div>

	<script>
		var jsmol_page_bindings = function JSmolPage() {
			var _this = this;
			this.resize_3d_structure = function() {
				$(window).resize(function() {})
			}
			this.show_3d_structures = function() {
				$('#full_jsmol_{{ item.random_key }}').hide();
				try {
					Jmol.setDocument(false);
					jj = Jmol.getApplet("full_jsmol_{{ item.random_key }}", {
 						width: $(window).width(),
       					height: $(window).height()-42,
        				debug: false,
        				color: "0x333333",
        				addSelectionOptions: false,
        				use: "HTML5",
        				j2sPath: "/js/jsmol/j2s",
        				disableJ2SLoadMonitor: true,
  						disableInitialConsole: true,
  						allowJavaScript: true,
						antialiasDisplay: true,
						readyFunction: function() {
							$('#full_jsmol_{{ item.random_key }}').fadeIn(1000);
						},
					});
					$("#full_jsmol_{{ item.random_key }}").html(Jmol.getAppletHtml(full_jsmol_{{ item.random_key }}));
					Jmol.loadFile(jj, '${{ item.resolver_data.structure_smiles }}');
					Jmol.script(jj, 'set antialiasDisplay true');
				} catch(error) {};
			}
			$(document).on("pageinit", '#{{ app_name }}-jsmol-structure-{{ item.random_key }}', function (){ 
				//panel.init();
				history_button.init();
				_this.show_3d_structures();
			});
			$(document).on("pageshow", '#{{ app_name }}-jsmol-structure-{{ item.random_key }}', function() {
				//_this.show_structures();
			});
			$(document).on("pagebeforeshow", '#{{ app_name }}-jsmol-structure-{{ item.random_key }}', function() {
				//_this.show_structures();
				//$('.jsmol-widget').hide();
			});
			$(window).resize(function() {
					//$('.jsmol-widget').hide();
					if(this.resize_to) clearTimeout(this.resize_to);
    				this.resize_to = setTimeout(function() {
        				$(this).trigger('resize_end');
    				}, 500);
			});

			$(window).on('resize_end', function() {
				_this.show_3d_structures();
			});
		}
		app.bind_page('{{ app_name }}-jsmol-structure-{{ item.random_key }}', jsmol_page_bindings);
	</script>

</div>
{% endif %}

{% endblock %}
