{% extends "base-service-m.html" %}

{% block body_class %}{% endblock %}

{% block title %}NCI/CADD Chemical Structure Apps{% endblock %}

{% block header %}Chemical Structure Apps{% endblock %}

{% block pages %}
<div data-role="page" data-theme="f" class="structure app {{ app_name }}" id="structure-{{ page }}">

	{% include 'common/header.template' %}

	<div class="primary-panel" data-role="panel" id="structure-{{ page }}-panel" data-display="overlay" data-position="left" data-theme="g">
		<h3>{{ app_string }}</h3>
		<ul data-role="listview" data-theme="g" data-dividertheme="g">
			<li><a href="{% url 'chemical.apps.views.cap_manual' 'config' %}"><h4>Settings</h4></a></li>
			<li><a href="{% url 'chemical.apps.views.browse' 1 %}"><h4>Browse Structures</h4></a></li>
			<li data-icon="home"><a href="{% url 'chemical.apps.views.splash' app_name %}"><h4>Home</h4></a></li>
			<li data-icon="grid"><a href="{% url 'chemical.apps.views.home' %}"><h4>Switch App</h4></a></li>
		</ul>
		{% if app_name == 'cap' %}
		<h3>Chemical Activity</h3>
		<ul data-role="listview" data-theme="g" data-dividertheme="g">
			<li><a href="{% url 'chemical.apps.views.cap_manual' 'categories' %}"><h4>Categories</h4></a></li>
			<li><a href="{% url 'chemical.apps.views.cap_manual' 'models' %}"><h4>Models</h4></a></li>
			<li><a href="{% url 'chemical.apps.views.cap_manual' 'endpoints' %}"><h4>Endpoints</h4></a></li>
		</ul>
		{% endif %}
    </div>

	<div data-role="content" data-theme="f">		
		<div id="inner-content">
		
		{% if page == 'structure' %}
		<div class="ui-grid-b">
    		<div class="ui-block-a"></div>
    		<div class="ui-block-b"></div>
    		<div class="ui-block-c"></div>
    		<div class="ui-block-a"></div>
    		<div class="ui-block-b">
				<h2>Add Structure</h2>
				{% comment %}<label for="id_structure_term_input">Specify a <a href="#edit-structure-terms" data-rel="popup" data-position-to="window">chemical term</a> for adding a structure:</label>{% endcomment %}
				<label for="id_structure_term_input">Specify a chemical term (e.g. SMILES, CAS Reg. Number, InChI/InChIKey, IUPAC Name) for adding a structure:</label>
				<form id="structure-{{ page }}-form">
				{{ form.structure_term_input }}
				
				<div class="form-buttons" data-role="controlgroup" data-type="horizontal" class="form-button-bar" data-inline="true" data-theme="c" data-mini="true">
					<button id="form-{{ page }}-submit-button" data-theme="c" data-inline="true">Submit</button>
					<button class="open-editor-button" data-theme="c" data-icon="edit" data-inline="true">Editor</button>
				</div>
				</form>
				
			</div>
			<div class="ui-block-c"></div>
			<div class="ui-block-a"></div>
			<div class="ui-block-b"></div>
			<div class="ui-block-c"></div>
		</div>
		{% endif %}

		{% if page == 'list' %}
		<h2>Edit Structure List/History</h2>
		<label for="id_structure_term_input">Edit list of previously added chemical terms, or, paste or add a new list:</label>
		<form id="structure-{{ page }}-form">
		{{ form.structure_list_input }}
		
		<div class="form-buttons" data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true" data-theme="c">
			<button id="form-{{ page }}-submit-button" data-role="button" data-theme="c" data-inline="true">Submit</button>
			<button class="open-editor-button" data-theme="c" data-icon="edit" data-mini="true">Editor</button>
			<button id="form-{{ page }}-clear-button" data-role="button" data-theme="c" data-inline="true">Clear</button>
		</div>
		
		</form>
		{% endif %}
		</div>
	</div>

	<div class="page-footer" data-role="footer"  data-theme="f" data-position="fixed" data-id="{{ app_name }}-footer">
		<div class="ui-bar footer-navigation navigation">

			<div>
				<div data-role="controlgroup" data-type="horizontal" data-inline="true" data-mini="true" data-theme="c">
				{% if page == 'list' %}
				<a class="footer-nav-button" data-role="button" data-icon="plus" data-theme="c" href="{% url "chemical.apps.views.edit_structures" 'add' 'structure' %}">Add Structure</a>
				{% endif %}
				{% if page == 'structure' %}
				<a class="footer-nav-button" data-role="button" data-theme="c" href="{% url 'chemical.apps.views.edit_structures' 'edit' 'list' %}">Edit List/History</a>
				{% endif %}
				</div>
			</div>	

			<div class="info-bar">
				<div><span><a rel="external" href="/">http://{{ host }}</a></span><span>NCI/CADD Group 2013-2014</span></div>
			</div>
		</div>
	</div>
	
	<script>
		var editor_structure_page_bindings = function EditStructurePage() {
			var _this = this;
			this.resize_textarea = function() {
				var h = $(window).height();
				$('#structure-list textarea').height(h-400);
				return this;
			}
			this.clear_input = function() {
				$('#id_structure_term_input').val('');
				$('#id_structure_list_input').val('');
				chemical_term_processor.clear_term_array();
				chemical_term_processor.clear_last_term();
				return this;
			}
			this.update_input_with_smiles = function() {
				$('#id_structure_term_input').val(chemical_term_processor.last_term());
				return this;
			}
			this.update_textarea = function() {
				tstring = chemical_term_processor.textarea_string();
				$('#id_structure_list_input').val(tstring);
				//$('#id_structure_term_input').val(tstring);
				return this;
			}
			this.open_structure_editor = function() {
				var term_data = $('#id_structure_term_input').val();
				var list_data =  $('#id_structure_list_input').val();
				chemical_term_processor.parse_string(term_data, list_data);
				structure_editor.init(chemical_term_processor.last_term());
				return this;
			}
			this.submit_form = function() {
				var term_data = $('#id_structure_term_input').val();
				var list_data =  $('#id_structure_list_input').val();
				var form_data = '';
				
				$('.browse').remove();
				chemical_term_processor.parse_string(term_data, list_data);
				app.push_status(
					function(response) {
						$.mobile.changePage('{% url 'chemical.apps.views.browse' 1 %}', {
							transition: 'fade',
							reloadPage: true
						}
					)},
					function(response) {document.write(response)}
				);
				return false;
			}
			this.hide_elements = function() {
				$('#inner-content').hide();
				return this;
			}
			this.fade_in_elements = function() {
				$('#inner-content').fadeIn();
				return this;
			}
			this.init_forms_and_buttons = function() {
				$('#structure-browse-button:not(.click-bound)').addClass('click-bound').on('click', function(event){
					event.preventDefault();
					_this.submit_form();
					return false;
				});
				$('#structure-{{ page }}-form:not(.submit-bound)').addClass('submit-bound').submit(function (event) {
					event.preventDefault();
					return false;
				});
				$('#form-{{ page }}-submit-button:not(.click-bound)').addClass('click-bound').on('click', function(event){
					event.preventDefault();
					_this.submit_form();
					return false;
				});
				$('#form-{{ page }}-clear-button:not(.click-bound)').addClass('click-bound').on('click', function(event){
					event.preventDefault();
					_this.clear_input();
					return false;
				});
				$('.open-editor-button').on("click", function() {
					_this.open_structure_editor();
				});
				$('.ui-input-search .ui-icon-delete').on("click", function() {
					chemical_term_processor.clear_last_term();
				});
				$('#structure-{{ page }}').on("pageshow", function() {
					history_button.init();
					_this.fade_in_elements();
				});
			}
			$(document).on("pageinit", '#structure-{{ page }}', function() {
				_this.init_forms_and_buttons();
			});
			$(document).on("pagebeforeshow", '#structure-{{ page }}', function() {
				_this.hide_elements().resize_textarea().update_textarea().update_input_with_smiles();
				panel.init();
			});
			$(document).on("orientationchange", function(){
				_this.resize_textarea()
			});
			$(window).resize(function() {
    				if(this.resize_to) clearTimeout(this.resize_to);
    				this.resize_to = setTimeout(function() {
        				$(this).trigger("resizeend");
    				}, 500);
			});
			$(window).on("resizeend", function() {
				_this.resize_textarea();
			});
		}
		app.bind_page('structure-{{ page }}', editor_structure_page_bindings);
	</script>
</div>

{% endblock %}
