<div>
<div class="viewer-status"><img src="/image/load.gif"></img><span></span></div>
<h3>Databases</h3>
<p>Records of this file are linked to the following databases:</p>
{{ file.databases }}
<ul>
{% for id,database in file.joined_databases.items %}
	<li>{{ database.name }}</li>
{% endfor %}
</ul>
</div>