<div>
<h3>Events</h3>
<div class="section">
<div class="viewer-status"><img height="16" width="16" src="/image/load.gif"></img><span></span></div>
<ul id="event-list">
	{% for event in file.events_with_structures reversed %}
	<li><div class="event-header"><span class="event-string">{{ event.string }}</span> <span class="event-time">added {{ event.date_added|timesince }} ago</span></div>
	<ul>
		{% for structure in event.structure_list %}
			<li class="event-list-item">
			<div class="item-box" >
				{% if structure.object.error %}
				<div class="structure-image"><div class="structure-error">read error</div></div>
				{% else %}
				<div class="structure-image"><img height="220" width="265" src="data:image/gif;base64,{{ structure.image.medium }}" /></div>
				{% endif %}
				<div class="event-data">
					<h4>{{ structure.compound }}</h4>
					<p>{{ structure.data_source }}</p>
					<div class="column-box">
					<div class="column">
						<div class="event-database-box">
							<h5>Databases</h5>
							<table>
							{% for database in structure.database_list|dictsort:"name" %}
								<tr>
									<td class="database-td"><span>{{ database.name }}</span></td>
									{% if database in structure.ficts_databases %}
									<td class="identifier-td"><span class="identifier-tag ficts-tag">FICTS</span></td>
									{% else %}
									<td class="identifier-td"><span class="identifier-tag">FICTS</span></td>
									{% endif %}
									{% if database in structure.ficus_databases %}
									<td class="identifier-td"><span class="identifier-tag ficus-tag">FICuS</span></td>
									{% else %}
									<td class="identifier-td"><span class="identifier-tag ">FICuS</span></td>
									{% endif %}
									{% if database in structure.uuuuu_databases %}
									<td class="identifier-td"><span class="identifier-tag uuuuu-tag">uuuuu</span></td>
									{% else %}
									<td class="identifier-td"><span class="identifier-tag">uuuuu</span></td>
									{% endif %}
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
					<div class="column">
						<div class="event-data-box">
							<h5>Standard InChI/InChIKey</h5>
							<div class="smaller-box-text">{{ structure.inchi.key }}</div>
						</div>
						<div class="event-data-box">
							<h5>NCI/CADD Identifier</h5>
							<div><span class="identifier-span smaller-box-text">{{ structure.ncicadd_identifier.ficts }}</span></div>
							<div><span class="identifier-span smaller-box-text">{{ structure.ncicadd_identifier.ficus }}</span></div>	
							<div><span class="identifier-span smaller-box-text">{{ structure.ncicadd_identifier.uuuuu }}</span></div>		
						</div>
					</div>
				</div>
			</div>
			</li>
		{% endfor %}
	</ul>
	</li>
	{% endfor %}
</ul>

</div>
</div>